<template name="Header">
  <div style="padding: 10px; margin: 0px" class="ui centered medium images">
    <img src="/images/clubhouse.jpg">
    <img src="/images/clubhouse.jpg">
    <img src="/images/clubhouse.jpg">
    <img src="/images/clubhouse.jpg">
  </div>
  <div class="ui top fixed borderless inverted menu">
    <div class="ui container">
      <a class="item" href="{{pathFor 'Home_Page'}}"><h1>Club Hub</h1></a>
    </div>
  </div>
  <div style= "margin: 0px" class="ui borderless inverted menu">
    <div class="ui container">
      <a href="#" class="item">{{> loginButtons align="right"}} </a>
      {{#if currentUser}}
      <a class="{{ isActiveRoute 'List_Clubs'}} item" href="{{ pathFor 'List_Clubs' }}">Browse Clubs</a>
      <a class="{{ isActiveRoute 'Search_Clubs'}} item" href="{{ pathFor 'Search_Clubs' }}">Search Clubs</a>
      <a class="{{ isActiveRoute 'Manage_Clubs'}} item" href="{{ pathFor 'Manage_Clubs' }}">Manage Clubs</a>
      <a class="{{ isActiveRoute 'Create_Club'}} item" href="{{ pathFor 'Create_Club' }}">Create own Club</a>
      {{/if}}
    </div>
  </div>
</template>