body {
  padding-top: 61px;  /* Move body of page below navbar. */
  padding-bottom: 0px;

}
.ui.inverted.menu{
  background-color: #BE620F;
}
#login-buttons a, .accounts-dialog a {
  color: rgba(255, 255, 255, 0.9);

}